@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* CSS RESET */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MAIN */
body{
  background-color:#000;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

ul{
  list-style-type:none ;
}

a{
  text-decoration: none;
  color: #cecece;
}

p{
  margin:10px 0;
}

img{

  width:100%;
}


h1,h2{
font-weight: 400;
line-height: 1.2;
}

.navbar{
display:flex;
align-items: center;
justify-content: space-between;
background-color:transparent;
color: #cecece;
opacity: 1.0;
width: 100%;
height: 70px;
position: static;
top: 0px;
padding: 0 30px;
}

.navbar a{
  padding: 10px 20px;
  color: #cecece;
  margin: 5px;
  font-size: 3vh;
}

.navbar a:hover{
  border-bottom:#ff0000 3px solid ;
 
   }

.navbar a.active {
  border-bottom:#ff0000 3px solid ;
}

.navbar ul{
  display:flex;
}

.navbar .logo
{
  font-weight: 800;
  font-size: 7vh;
  color: #fff;
}
  
.red-logo{
color: #ff0000;
}

/* Header */
.hero{

  height: 100vh;
  position: relative;
  color: #ff0000;
}


.hero .content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  text-align: left;
  height: 100%;
  padding: 0 20px;
}

.introduction{
  width: 40%;
  margin-left: 10%;
  color: #ffff;
  font-size: 4vh;
  
}

.introduction h2{
  color: #ff0000;
  font-weight: 700;
}

.port-picture{
padding: 20px;
background: #ff0000;
border-radius: 5px;
margin-right: 10%;
}

.port-picture img{
width: 25vw;
border-radius: 5px;
 
}
/* Button */
.btn{
padding:10px 20px;
border-radius: 25px;
}
.btn-paragraph{
  margin-top:6vh ;
  margin-left: 25%;
}
a.btn.red-button{
  background-color:#ff0000 ;
  color: #fff;
}

/* Featured Projects */
.white-section{
 background-color: #fff;
 height: 100vh; 
}

.line-utility{
  padding-top: 5vh;
  border-bottom:3px solid #cecece;
  font-size: 1.5em;
  margin-left:10px;
  margin-right:10px;
}

.line-utility p{
  color: #cecece;
}

.image-and-text
{

}

.ayi-picture img{
  width: 25vw;
  border-radius: 5px;
   
  }

